body {
    background: linear-gradient(121deg, #4f4f4f, #000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}

img {
    width: 3em;
    height: 3em;
}
div#taskbar {
    background-color: #9b9b9b;
    padding: 5px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
div#taskbar > button#start {
    border: none;
    background-color: #3d436a;
    color: #fff;
    padding: 5px;
}
div#taskbar > button#start:hover {
    background-color: #5b65a2;
}
div#taskbar > button.item {
    border: none;
    background-color: #000000;
    color: #fff;
    padding: 5px;
}
div#taskbar > button.item:hover {
    background-color: #595959;
}