body {
    background-image: url(../../files/images/bgDesktop.jpg);
    background-position: center;
}
img {
    width: 10em;
    border-radius: 50%;
}
input {
    width: 20em;
    height: 2em;
    border: none;
    background-color: #f2f2f2;
    font-weight: 300;
    color: #000;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}
button {
    height: 2em;
    border: none;
    background-color: #f2f2f2;
    font-weight: 300;
    color: #000;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}